<!-- -->
<launch>

<!-- $ rostopic pub /move_base_simple/goal geometry_msgs/PoseStamped '{header: {stamp: now, frame_id: "map"}, pose: {position: {x: 5.0, y: 2.0, z: 0.0}, orientation: {w: 1.0}}}' -->
<!-- $ rostopic echo /cmd_vel -->
<!-- $ rostopic echo odom/pose/pose/position -->

  <include file="$(find iri_template_local_planner)/launch/model.launch" />


  <node pkg ="tf" type="static_transform_publisher" name="map_odom_fix"       args= "0 0 0 0 0 0 \odom \map 100"/>

  <node name="map_server"
        pkg ="map_server"
        type="map_server"
        args="$(find iri_template_local_planner)/maps/empty.yaml" />

  <!-- move_base -->
  <node pkg ="move_base"
        type="move_base"
        name="move_base_node"
        respawn="false"
        output="screen">
    <remap from="~odom"    to="/odom" />
    <remap from="~cmd_vel" to="/cmd_vel" />
    <param name="base_local_planner"  value="iri_template_local_planner/TemplateLocalPlanner" />
    <param name="base_global_planner" value="carrot_planner/CarrotPlanner" />
    <!-- Load common configuration files -->
    <rosparam file="$(find iri_template_local_planner)/config/move_base_params.yaml"      command="load" />
    <rosparam file="$(find iri_template_local_planner)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find iri_template_local_planner)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <!-- Load GLOBAL navigation specific parameters -->
    <rosparam file="$(find iri_template_local_planner)/config/local_costmap_params.yaml"      command="load" />
    <rosparam file="$(find iri_template_local_planner)/config/global_costmap_params.yaml"     command="load" />
    <rosparam file="$(find iri_template_local_planner)/config/base_local_planner_params.yaml" command="load" />
  </node>

  <node pkg ="tibi_dabo_platform_simulator"
      type="tibi_dabo_platform_simulator"
      name="platform_simulator"
      output="screen"/>

  <node name="rviz" 
        pkg="rviz" 
        type="rviz"
        args="-d $(find iri_template_local_planner)/launch/test.vcg" />

</launch>

