<!-- -->

<launch>
<param name="/use_sim_time" value="True"/>
	<node  pkg="rosbag" 
        type="play" 
        name="rosbag" 
        args="--pause -r 1 --clock $(find iri_force_robot_companion)/data.bag" />


  <!-- fme environment -->
<!--  launches 3d mesh map, located at 0,0,0 
<include file="$(find tibi_dabo_base)/launch/brl.launch" />
<include file="$(find tibi_dabo_base)/launch/fme.launch" />
-->


  <node pkg="kk_trajectory_remove"
		type="kk_trajectory_remove"
		name="kk_trajectory_remove"
		output="screen">
		<remap from="/kk_trajectory_remove/traj_raw"
               to="/dabo/force_robot_companion/vis/trajectories" />
  </node>

  <node pkg ="rviz" 
        name="rviz" 
        type="rviz" 
        args="-d $(find iri_force_robot_companion)/config/dabo_force_robot_companion.vcg"
         />

</launch>


