<!-- -->
<launch>

  <arg name="rviz"     default="True" />

  <!-- brl environment -->
  <!--
  <include file="$(find tibi_dabo_base)/launch/old/brl.launch" />
  -->
  <!-- sinthetic scene generator: plots obstacles via a centralized laser
		and triggers the update_Scene function as a callback function -->
<!--
  <node pkg ="iri_people_simulation"
        type="iri_people_simulation"
        name="iri_people_simulation" 
        >
		<param name="number_persons" value="0"/>
  </node>
-->
  
<!--
  <node pkg ="wiimote"
          type="wiimote_node.py"
          name="joy"
          respawn="true"/>
-->


	<node name="map_server" 
		pkg="map_server" 
		type="map_server" 
		args="$(find iri_force_robot_companion)/map/brl_dec.yaml">
			<param name="frame_id" value="/map" />			
	</node>  
  <!-- People prediction node -->
  <node pkg ="iri_force_robot_companion"
        type="iri_force_robot_companion"
        name="iri_force_robot_companion" 
		output="screen">
		<param name="move_base" value="False"/>
		<param name="robot_sim" value="True"/>
		<param name="using_prediction" value="True"/>
		<param name="time_horizon" value="0.2"/>
		<param name="reference_frame" value="/map"/>
		<param name="v_max" value="1.7"/>
		<param name="v_cruise" value="1.0"/>
		<param name="force_parameters" value="True"/>
		<param name="force_goal" value="0.2"/>
		<param name="force_toperson" value="0.7"/>
		<param name="force_interaction" value="4.0"/>
		<param name="force_laser" value="0.5"/>
		<param name="laser_radi" value="40.0"/>
		<param name="force_map" value="0.5"/>
		<param name="r" value="1.0"/>
		<param name="theta" value="35.0"/>
		<param name="force_map_path" value="$(find iri_force_robot_companion)/map/force_map.txt" />
		<param name="B_obstacle" value="0.65"/>
		<param name="virtual_people" value="0"/>
		<param name="robot_x_ini" value="33.0"/>
		<param name="robot_y_ini" value="1.8"/>
		<remap from="/iri_force_robot_companion/tracks"
               to="/iri_people_simulation/tracks" />
		<remap from="/iri_force_robot_companion/laser"
               to="/iri_people_simulation/laser_scan" />
		<remap from="/iri_force_robot_companion/joy"
               to="/joy" />
  </node>



  <node pkg ="rviz" 
        name="rviz" 
        type="rviz" 
		if="$(arg rviz)"
        args="-d $(find iri_force_robot_companion)/config/sim_test_map.vcg"
         />

</launch>


