<!-- -->
<launch>

 	<node name="map_server" 
		pkg="map_server" 
		type="map_server" 
		args="/home/gferrer/projects/hrimr/reactive_navigation_ECMR2013/map/brl.yaml">
			<param name="frame_id" value="/map" />			
	</node>  

  <!-- map force viewer -->
 
  <node pkg ="my_map_checker"
        type="my_map_checker"
        name="my_map_checker" 
		output="screen">
	<param name="force_map_path" value="/home/gferrer/projects/hrimr/reactive_navigation_ECMR2013/map/force_map/force_map.txt" />
  </node>



  <node pkg ="rviz" 
        name="rviz" 
        type="rviz" 
        args="-d $(find my_map_checker)/config/test.vcg"
         />

</launch>


