<!-- laser navigation testing-->
<launch>

<node name="iri_laser_icp"
      pkg="iri_laser_icp"
      type="iri_laser_icp"
      output="screen">
    <param name="~max_angular_correction_deg" value="30"/>
    <param name="~max_linear_correction" value="1"/>
    <param name="~max_iterations" value="30"/>
    <param name="~max_correspondence_dist" value="0.5"/>
    <param name="~clustering_threshold" value="0.1"/>
    <param name="~orientation_neighbourhood" value="50"/>
    <param name="~use_point_to_line_distance" value="1"/>
    <param name="~use_corr_tricks" value="1"/>
    <param name="~restart" value="1"/>
    <param name="~do_visibility_test" value="0"/>
    <param name="~do_compute_covariance" value="0"/>
</node>

<node name="iri_laser_localisation"
      pkg="iri_laser_localisation"
      type="iri_laser_localisation"
      output="screen">
</node>

<node name="iri_laser_navigation"
      pkg="iri_laser_navigation"
      type="iri_laser_navigation"
      output="screen">
      <remap from="~scan" to="/teo/front_laser/scan"/>
</node>

</launch>
