<!-- Leaning of the initial system paramters-->
<launch>

  <arg name="rviz"     default="True" />

   <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster"
		args=" 0 0 0 0 0 0 /map /dabo/base_link 100" />

  <node pkg ="iri_people_simulation"
        type="iri_people_simulation"
        name="iri_people_simulation"
         >
		<param name="number_persons" value="100"/>
        <param name="vis_mode" value="True"/>
        <param name="remove_targets" value="True"/>
    	<param name="destination_map_path" value="$(find iri_people_simulation)/map/4_destinations.txt" />
		<remap from="/iri_people_simulation/robot_pose"
               to="/iri_force_robot_companion_learning/robot_position" />



  </node>




  <!-- People prediction node  	-->
  <node pkg ="iri_force_robot_companion_learning"
        type="iri_force_robot_companion_learning"
        name="iri_force_robot_companion_learning" 
		output="screen">
		<param name="learning_mode" value="1"/>
		<param name="robot_x_ini" value="10.0"/>
		<param name="robot_y_ini" value="0.0"/>
		<param name="r" value="1.5"/>
		<param name="theta" value="35.0"/>
    	<param name="results_folder" value="$(find iri_force_robot_companion_learning)/results/" />
    	<param name="destination_map_path" value="$(find iri_people_simulation)/map/4_destinations.txt" />
		<remap from="/iri_force_robot_companion_learning/tracks"
               to="/iri_people_simulation/tracks" />
		<remap from="/iri_force_robot_companion_learning/reset"
               to="/iri_people_simulation/reset" />
  </node>



  <node pkg ="rviz" 
        name="rviz" 
        type="rviz" 
		if="$(arg rviz)"
        args="-d $(find iri_force_navigation_learning)/config/simulation.vcg"
         />

</launch>


