<!-- -->

<launch>

  <!-- head tracking launch -->
  <include file="$(find tibi_dabo_head_tracking)/launch/head_tracking.launch" />

  <group ns="$(env ROBOT)">

    <!-- people tracking node -->
    <node pkg ="iri_people_follower_client"
          type="iri_people_follower_client"
          name="iri_people_follower_client"
          output="screen">
      <remap from="/$(env ROBOT)/followTarget/"
               to="/$(env ROBOT)/tibi_dabo_head_tracking/follow_target" />
      <remap from="/$(env ROBOT)/iri_people_follower_client/target_pose"
               to="/$(env ROBOT)/tibi_dabo_head_tracking/target_pose" />
      <remap from="/$(env ROBOT)/iri_people_follower_client/people_tracker"
               to="/$(env ROBOT)/iri_people_tracking/peopleSet" />
    </node>

  </group>

</launch>

