<!-- -->
<launch>

  <!-- no collision -->
    <!-- published topics: /no_collision/segway_cmd -->
    <!-- subscribed topics: /no_collision/scan -->
    <!--                    /no_collision/segway_odom -->
    <!--                    /no_collision/target_vel -->
    <!-- service clients: -->
    <!-- service servers: -->
    <!-- action clients: -->
    <!-- action servers: /no_collision/MoveBase -->
  <node pkg ="iri_no_collision"
        type="iri_no_collision"
        name="no_collision"
        output="screen">
    <param name="~tf_prefix"            value="/$(env ROBOT)" />
    <param name="~vR_max"               value="0.6" />
    <param name="~vT_max"               value="1.0" />
    <param name="~r_acc"                value="1.0" />
    <param name="~t_acc"                value="0.5" />
    <param name="~min_safety_dist"      value="0.4" />
    <param name="~min_safety_angle"     value="10.0" />
    <param name="~laser_safe_dist"      value="0.8" />
    <param name="~oa_cone_aperture"     value="100.0" />
    <param name="~dist_tolerance"       value="0.01" />
    <param name="~angle_tolerance"      value="0.1" />
    <param name="~max_angle2stop"       value="60.0" />
  </node>

</launch>
