<!-- -->

<launch>

  <arg name="launch_rviz" default="False" />

  <!-- load robot defined machines -->
  <include file="$(find tibi_dabo_base)/machines/tibi_dabo.machines" />

  <!-- FME scenario -->
  <include file="$(find tibi_dabo_base)/launch/$(env MAP).launch" />

  <!-- static transform for map -->
  <node  pkg="tf"
        type="static_transform_publisher" 
        name="env_to_odom"
        args="8 10 0 0 0 0 /environment /$(env ROBOT)/odom 100" />

  <!-- No Collision Launch File -->
  <include file="$(find iri_no_collision)/launch/iri_no_collision.launch">
    <arg name="launch_rviz" value="False" />
    <arg name="launch_rviz_client" value="False" />
  </include>

  <!-- People Tracker Launch File -->
  <include file="$(find iri_people_tracking)/launch/people_tracking.launch">
    <arg name="launch_rviz" value="False" />
    <arg name="launch_laser" value="False" />
  </include>
<!--   <node  pkg="rosbag" type="rosbag" name="rosbag" args="play -l /home/jnperez/rosbags/twoPersons.bag" /> -->

  <group ns="$(env ROBOT)">

    <!-- people follower -->
    <node pkg ="iri_people_follower"
          type="iri_people_follower"
          name="iri_people_follower"
          machine="nav"
          output="screen">
      <remap from="/$(env ROBOT)/moveBase"
               to="/$(env ROBOT)/iri_no_collision/MoveBase" />
      <param name="dist_to_goal" value="0.5" />
      <param name="~tf_prefix" value="/$(env ROBOT)" />
   </node> 

    <!-- people follower client -->
    <node pkg ="iri_people_follower_client"
          type="iri_people_follower_client"
          name="iri_people_follower_client"
          machine="nav"
          output="screen">
      <remap from="/$(env ROBOT)/followTarget"
               to="/$(env ROBOT)/iri_people_follower/followTarget" />
      <remap from="/$(env ROBOT)/iri_people_follower_client/target_pose"
               to="/$(env ROBOT)/iri_people_follower/target_pose" />
      <remap from="/$(env ROBOT)/iri_people_follower_client/people_tracker"
               to="/$(env ROBOT)/iri_people_tracking/peopleSet" />
      <param name="~tf_prefix" value="/$(env ROBOT)" />
   </node> 

  </group>

  <!-- rviz configurated -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hrengagement_node)/config/hrengagement.vcg" 
        if="$(arg launch_rviz)" />

</launch>
