<!-- -->
<launch>

  <!-- ARGUMENTS -->

  <arg name="map_path"     default="/home" />

  <group ns="$(env ROBOT)">

    <!-- Force robot companion -->
      <!-- published topics:  -->
      <!-- subscribed topics: /$(env ROBOT)/people_tracking/peopleSet -->
      <!--                    /$(env ROBOT)/sensors/joy -->
      <!--                    /$(env ROBOT)/sensors/laser/scan -->
      <!-- service clients: -->
      <!-- service servers: -->
      <!-- action clients:  /$(env ROBOT)/no_collision/MoveBase -->
      <!-- action servers: -->
    <node pkg ="iri_force_robot_companion"
          type="iri_force_robot_companion"
          name="force_robot_companion"
          output="screen">
            <param name="move_base"         value="False"/>
            <param name="robot_sim"         value="False"/>
            <param name="using_prediction"  value="True"/>
            <param name="time_horizon"      value="5"/>
            <param name="reference_frame"   value="/map"/>
            <param name="v_max"             value="1.0"/>
            <param name="v_cruise"          value="0.8"/>
            <param name="force_parameters"  value="True"/>
            <param name="force_goal"        value="0.2"/>
            <param name="force_toperson"    value="1.3"/>
            <param name="force_interaction" value="10.0"/>
            <param name="r"                 value="1.5"/>
            <param name="theta"             value="60.0"/>
            <param name="force_map_path" value="$(find iri_force_robot_companion)/map/force_map.txt" />
          <remap from="/$(env ROBOT)/force_robot_companion/tracks"
                    to="/$(env ROBOT)/people_tracking/peopleSet" />
          <remap from="/$(env ROBOT)/move_base"
                    to="/$(env ROBOT)/no_collision/MoveBase" />
          <remap from="/$(env ROBOT)/force_robot_companion/joy"
                    to="/$(env ROBOT)/sensors/joy" />
          <remap from="/$(env ROBOT)/force_robot_companion/laser"
                    to="/$(env ROBOT)/sensors/front_laser_scan" />
    </node>

  </group>

</launch>
