<!-- -->
<launch>

  <!-- load robot defined machines -->
  <include file="$(find tibi_dabo_base)/machines/$(env ROBOT).machines" />

  <group ns="$(env ROBOT)">

    <!-- Force robot companion -->
      <!-- published topics:  -->
      <!-- subscribed topics: /$(env ROBOT)/people_tracking/peopleSet -->
      <!--                    /$(env ROBOT)/sensors/joy -->
      <!--                    /$(env ROBOT)/sensors/front_laser_scan -->
      <!-- service clients: -->
      <!-- service servers: -->
      <!-- action clients:  /$(env ROBOT)/no_collision/MoveBase -->
      <!-- action servers: -->
    <node pkg ="iri_force_robot_companion"
          type="iri_force_robot_companion"
          name="force_robot_companion"
          machine="nav">
			<param name="move_base" value="True"/>
			<param name="robot_sim" value="False"/>
			<param name="using_prediction" value="True"/>
			<param name="time_horizon" value="5.0"/>
			<param name="reference_frame" value="/map"/>
			<param name="v_max" value="0.8"/>
			<param name="v_cruise" value="0.5"/>
			<param name="force_parameters" value="True"/>
			<param name="force_goal" value="0.3"/>
			<param name="force_toperson" value="0.7"/>
			<param name="force_interaction" value="4.0"/>
			<param name="force_laser" value="1.0"/>
			<param name="laser_radi" value="40.0"/>
			<param name="force_map" value="0.5"/>
			<param name="r" value="0.5"/>
			<param name="theta" value="45.0"/>
			<param name="force_map_path" value="$(find iri_force_robot_companion)/map/force_map.txt" />
    	<param name="destination_map_path" value="$(find iri_force_robot_companion)/map/dest.txt" />
			<param name="B_obstacle" value="0.65"/>
          <remap from="/$(env ROBOT)/force_robot_companion/tracks"
                    to="/$(env ROBOT)/people_tracking/peopleSet" />
          <remap from="/$(env ROBOT)/force_robot_companion/velocity"
                    to="/$(env ROBOT)/no_collision/target_vel" />
          <remap from="/$(env ROBOT)/move_base"
                    to="/$(env ROBOT)/no_collision/MoveBase" />
          <remap from="/$(env ROBOT)/force_robot_companion/joy"
                    to="/$(env ROBOT)/sensors/joy" />
          <remap from="/$(env ROBOT)/force_robot_companion/laser"
                    to="/$(env ROBOT)/sensors/front_laser_scan" />
    </node>

  </group>

</launch>
