<!-- -->
<launch>
<param name="/use_sim_time" value="True"/>
	<node  pkg="rosbag" 
        type="rosbag" 
        name="rosbag" 
        args="play --clock -r 0.3 $(find iri_localization3d)/data/2012-07-25-13-08-07.bag" />



  <!-- brl environment -->
  <include file="$(find tibi_dabo_base)/launch/brl.launch" />

  <!-- robot model -->
  <!-- tibi_dabo urdf model -->
  <param name="robot_description" command="cat $(find tibi_dabo_base)/model/tibi_dabo_base.urdf" />
   

<group ns="$(env ROBOT)">

<!-- iri localization3d node -->
    <node pkg="iri_localization3d"
          type="iri_localization3d"
          name="iri_localization3d"
          args="">
      <remap from="/$(env ROBOT)/iri_localization3d/platform_data"
             to="/$(env ROBOT)/iri_segway_rmp200/status" />
      <remap from="/$(env ROBOT)/iri_localization3d/platform_odom"
             to="/$(env ROBOT)/iri_segway_rmp200_odom/odom" />
      <remap from="/$(env ROBOT)/iri_localization3d/laser0/scan"
             to="/$(env ROBOT)/front_laser/scan" />
      <remap from="/$(env ROBOT)/iri_localization3d/laser1/scan"
             to="/$(env ROBOT)/rear_laser/scan" />
      <remap from="/$(env ROBOT)/iri_localization3d/laser2/scan"
             to="/$(env ROBOT)/vertical_laser/scan" />
      <rosparam file="$(find iri_localization3d)/launch/loc_parameters.yaml" command="load" />
      <param name="~tf_prefix" value="/$(env ROBOT)" type="str"/>
    </node>

</group>



  <node pkg ="rviz" 
        name="rviz" 
        type="rviz" 
        args="-d $(find iri_localization3d)/config/rosbag_localization.vcg"
         />

</launch>


