<!-- -->

<launch>
	
	<!-- uses sim time (rosbag time) -->
	<param name="/use_sim_time" value="True"/>

	<!-- FME Big Door environment urdf launch file -->
<!-- 	<param name="fme/robot_description" command="cat $(find tibi_dabo_description)/urdf/fme.urdf" /> -->
 	<include file="$(find tibi_dabo_base)/launch/fme.launch"/> -->

	<!-- Rosbag: Platform, Odometry, front and rear lasers and clock in FME Big Door environment-->
	<node	pkg="rosbag"
		type="rosbag"
		name="rosbag"
		args="play --clock /home/andreu/rosbags/tibi_two_lasers_small_wheels.bag" />

	<!-- 	Launch localization node inside a namespace defining robot name -->
	<group ns="$(env ROBOT)">
		<!-- segway urdf model -->
		<param name="robot_description" command="cat $(find tibi_dabo_base)/model/tibi_dabo_base.urdf" />
		
		<!-- map-based localization node -->
		<node	pkg="iri_localization3d"
			type="iri_localization3d"
			name="iri_localization3d"
			args=""
			output="screen">

			<remap from="/$(env ROBOT)/localization3d_node/platform_data"
				to="/$(env ROBOT)/segway_rmp200_node/status" />
			<remap from="/$(env ROBOT)/iri_localization3d/platform_odom"
				to="/$(env ROBOT)/segway_rmp200_odom/odom" />
			<remap from="/$(env ROBOT)/iri_localization3d/laser0/scan"
				to="/$(env ROBOT)/front_laser/scan" />
			<remap from="/$(env ROBOT)/iri_localization3d/laser1/scan"
				to="/$(env ROBOT)/rear_laser/scan" />
			<remap from="/$(env ROBOT)/iri_localization3d/laser2/scan"
				to="/$(env ROBOT)/vertical_laser/scan" />

			<rosparam file="loc_parameters.yaml" command="load" />

		</node>
	</group>

	<!-- rviz configurated for debug localization -->
	<node name="rviz" 
		pkg="rviz" 
		type="rviz" 
		args="-d $(find iri_localization3d)/launch/debugLoc.vcg">
	</node>

</launch>

<!-- args="-d $(find iri_localization3d)/launch/debugLoc.vcg" -->
<!-- args="-d $(find tibi_dabo_operations)/launch/nav_sensors.vcg"> -->
